html {
  font-size: 16px;
}
body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}
header,
footer,
main {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5% 0 5% 0;
  width: 100%;
}
ul {
  list-style: none;
}
h2, a, p {
  font-size: 1em;
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-weight: bold;
}
/***** HEADER/FOOTER *****/
header {
  background: #fcd0c0;
}
#home {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
}
nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 5% 0;
  width: 60%;
}
nav ul {
  padding: 0;
  width: 100%;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #213657;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
header h1 {
  align-items: center;
  color: #3cbb4f;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Macondo', cursive;
  font-size: 3em;
  justify-content: center;
  padding: 0 15% 0 0;
  width: 55%;
}
header img {
  margin: 0 0 0 10%;
  width: 5%;
}
img {
  width: 100%;
}
header button {
  align-items: center;
  background: #59e67e;
  border: none;
  color: #213657;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.25em;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  padding: 1% 0 1% 0;
  width: 20%;
}
header h2 {
  align-items: center;
  color: #213657;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  justify-content: center;
  width: 90%;
}
footer {
  background: #d5f9de;
  padding: 5% 0 5% 0;
}
#contact {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#contact h2 {
  color: #3cbb4f;
  font-size: 1em;
  font-weight: bold;
  width: 90%;
}
#contact p {
  color: #213657;
  font-size: 1em;
  width: 90%;
}
#contact img {
  width: 90%;
}
img {
  width: 100%;
}
#contact ul {
  width: 90%;
}
#contact ul li {
  display: inline-block;
}
#contact ul li i {
  color: #213657;
  font-size: 2em;
  text-decoration: none;
}
/***** PRODUCTS *****/
main {
  background: #d5f9de;
  padding: 5% 0 5% 0;
}
#products {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 5% 0;
}
#products h2 {
  color: #3cbb4f;
  width: 90%;
}
#products img {
  padding: 2% 0 2% 0;
  width: 90%;
}
img {
  width: 100%;
}
/***** ABOUT *****/
#about {
  background: #fcd0c0;
  padding: 5% 0 5% 0;
  width: 100%;
}
.mission {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.mission h2 {
  color: #3cbb4f;
  font-size: 1em;
  font-weight: bold;
  width: 90%;
}
.mission img {
  width: 90%;
}
img {
  width: 100%;
}
.mission p {
  color: #213657;
  font-size: 1em;
  width: 90%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2, a {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  /***** HEADER/FOOTER *****/
  nav {

  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    font-size: 1.5em;
  }
  header h1 {
    font-size: 5em;
  }
  header button {
    align-items: center;
    background: #59e67e;
    border: none;
    color: #213657;
    display: flex;
    flex-flow: row wrap;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    padding: 1% 0 1% 0;
    width: 20%;
  }
  header h2 {
    font-size: 1.5em;
  }
  #contact h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  #contact p {
    font-size: 1em;
  }
  #contact ul {

  }
  #contact ul li {
    display: inline-block;
  }
  #contact ul li i {
    font-size: 2.5em;
  }
  /***** PRODUCTS *****/
  #products h2 {
    font-size: 1.5em;
  }
  /***** ABOUT *****/
  .mission h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .mission p {
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }
  h2, a {
    font-size: 2em;
  }
  p {
    font-size: 1.25em;
  }
  nav {

  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    font-size: 2em;
  }
  header h1 {
    font-size: 7em;
  }
  header button {
    align-items: center;
    background: #59e67e;
    border: none;
    color: #213657;
    display: flex;
    flex-flow: row wrap;
    font-size: 2.25em;
    font-weight: bold;
    justify-content: center;
    text-transform: uppercase;
    padding: 1% 0 1% 0;
    width: 20%;
  }
  header h2 {
    font-size: 2em;
  }
  #contact h2 {
    font-size: 2em;
    font-weight: bold;
  }
  #contact p {
    font-size: 1.25em;
  }
  #contact ul {

  }
  #contact ul li {
    display: inline-block;
  }
  #contact ul li i {
    font-size: 3em;
  }
  /***** PRODUCTS *****/
  #products h2 {
    font-size: 2em;
  }
  /***** ABOUT *****/
  .mission h2 {
    font-size: 2em;
    font-weight: bold;
  }
  .mission p {
    font-size: 1.25em;
  }
}